.btn-download {
    margin-top: 30px;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    color: #fff;
    background-color: orange;
    border: 0
}

.o {
    width: 100%;
}

.footer {
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 400px;
    color: #555555;
    margin-left: -20px;
    font-size: 10pt;
}

@media screen and (max-width: 600px) {
    .container {
        width: 450px;
        display: flex;
        align-content: center;
        justify-content: center
    }

    .container > .main {
        width: 80%;
        display: flex;
        flex-flow: column nowrap
    }

    .container > .main > .column {
        margin-top: 20px;
        display: flex;
        justify-content: space-between
    }

    .btn-primary {
        width: 100%;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        cursor: pointer;
        border-radius: 4px;
        color: #fff;
        background-color: #717ff9;
        border: 0
    }

    .btn-primary:hover {
        background-color: #f57c00
    }

    .i {
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc
    }

    span {
        font-family: inherit;
        font-weight: 500;
        line-height: 1.1;
        color: inherit
    }
}

@media screen and (min-width: 600px) {
    .container {
        margin-left: 50%;
        transform: translateX(-50%);
        width: 1100px;
        display: flex;
        justify-content: center;
        align-content: center
    }

    .container > .main {
        width: 30%;
        display: flex;
        flex-flow: column nowrap
    }

    .container > .main > .column {
        margin-top: 20px;
        display: flex;
        justify-content: space-between
    }

    .btn-primary {
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        cursor: pointer;
        border-radius: 4px;
        color: #fff;
        background-color: #717ff9;
        border: 0
    }

    .btn-primary:hover {
        background-color: #f57c00
    }

    .i {
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc
    }

    span {
        font-family: inherit;
        font-weight: 500;
        line-height: 1.1;
        color: inherit
    }
}

.hide {
    height: 0;
    overflow: hidden
}

.model {
    position: absolute;
    top: 0;
    margin-left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    width: 50%;
    height: 50px;
    background-color: #555;
    color: wheat;
    border-radius: 40px;
    margin-top: -50px;
    line-height: 20px
}

.ani {
    animation: movein 3s forwards ease-in-out
}

@keyframes movein {
    0% {
        margin-top: -50px
    }
    30% {
        margin-top: 20px
    }
    80% {
        margin-top: 20px
    }
    100% {
        margin-top: -50px
    }
}
